
@{
    ViewBag.Title = "Add";
    Layout = null;
}

<form method="post" action="~/Dict/AddSave">
    <div>
        <label for="inputName">Name</label>
        <input type="text" id="surname" name="Name">
    </div>
    <div >
        <label for="inputAddress">Phone number</label>
        <input type="text" id="telephone" name="PhoneNumber">
    </div>
    <input type="submit" value="Add" />
</form>

